//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    yellow;
$secondary:     blue;


$gray-base:	    #000000;
$gray: 	  	    #222b31;
$gray-light:    #808080;
$gray-lighter:  #999999;
$gray-lightest: #f1f1f1;


//** Typography
$primary-font:   Helvetica, Arial, sans-serif;
$secondary-font: Helvetica, Arial, sans-serif;

$font-size-base: 16px;
$h1: 250%;
$h2: 200%;
$h3: 180%;
$h4: 140%;
$h5: 120%;
$h6: 110%;


//** UI
$border-radius-base: 4px;

//-- Button
$btn-border-radius:  $border-radius-base;
