//## Defaults
@import "_variables";
@import "_mixins";

html,
body {
  background-color: $default;
  color: $gray;
  font-family: $primary-font;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  width: 100%;
  overflow-x: hidden;
}

.app {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    min-height: 100vh;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
}


#medium {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
    @include flexbox;
    @include align-items(center);
}

.medium-control {
    position: absolute;
    z-index: 9999;
    width: 80px;
    height: 80px;
    right: 0;
    background-color: transparent;
    transition-property: transform, opacity;
    transition-duration: .3s;
    transition-timing-function: ease;    
    transform: translateX(100%);
    opacity: 0;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    .arrow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }
}

.medium-pagination {
    padding: 25px;
    position: absolute;
    @include flexbox;
    @include align-items(center);

    .swiper-pagination-bullet {
        height: 12px;
        width: 12px;        
        border-radius: 100%;
        margin: 7px !important;
        background-color: #000;
        opacity: 1;
        transform: scale(.333);
        @include transition(transform .3s ease);

        &:hover {
            transform: scale(.666);
        }
    } 

    .swiper-pagination-bullet-active {
        transform: scale(1);

        &:hover {
            transform: scale(1);
        }
    }       
}

.arrow {    

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
    }

    &.arrow-left {

        &::before {
            transform: rotate(-135deg);
            margin-left: 20px;
        }
    }

    &.arrow-right {

        &::before {
            transform: rotate(45deg);
            margin-right: 20px;
        }
    }    
}


.slide {
    width: 100%;
    padding: 5vw 20vw 5vw 20vw; // Important
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint(md) {        
        padding: 5vw 5vw 5vw 5vw; // Important
        display: block;
    }

    @include breakpoint(sm) {
        padding: 2vw;
        display: block;        
    }
}

.post {  

    @include breakpoint(md) {
        margin-bottom: 2vw;
        float: left;
        width: 100%;
    }

    @include breakpoint(sm) {
        margin-bottom: 4vw;
        width: 100%;
    }
}
