//## Temp
@import "../_variables";
@import "../_mixins";

@keyframes NewsAnim {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes NewsAnimR {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1);
	}
}


.NewsItem {
    overflow: hidden;
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
    box-sizing: border-box;
    -webkit-animation: NewsAnimR .3s 1 ease-in-out;
    animation: NewsAnimR .3s 1 ease-in-out;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.NewsItem:hover {
    -webkit-animation: NewsAnim .3s 1 ease-in-out;
    animation: NewsAnim .3s 1 ease-in-out;
}

.NewsItem:active { 
	animation: NewsAnimR .3s 1 ease-in-out;
}

.NewsItem.NewsItem_Text {
    white-space: normal;
    transition: .3s all ease-in-out;
}

.NewsItem.NewsItem_Text > div {
    height: 100%;
    box-sizing: border-box;
    transition: .3s background ease-in-out;
    background: #EEE;
    border: 4px solid #EEE;
    padding: 2vw;
    overflow: hidden;
    position: relative;
}

.NewsItem.NewsItem_Text .Date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}

.NewsItem.NewsItem_Text h4::after {
    content: ' ';
    display: block;
    margin: 25px 0 0;
    background: url(https://huee.in/_pics/longarrowrightblack.png) center center no-repeat;
    width: 45px;
    height: 5px;
}

.NewsItem.NewsItem_Text:hover > div {
    background: #FFF;
    border: 4px solid #e21e30;
}

.NewsItem.NewsItem_Text:hover h4::after {
    animation: Bounce 2s infinite ease-in-out;
    -webkit-animation: Bounce 2s infinite ease-in-out;
}



//** With pic
.NewsItem.NewsItem_Pic {
	background-color: red;
	transition: .3s all ease-in-out;
}

.NewsItem.NewsItem_Pic > div::before {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #e21e30;
    content: ' ';
    transition: .3s all ease-in-out;
    opacity: 0;
    box-sizing: border-box;
}

.NewsItem.NewsItem_Pic:hover > div::before {
    opacity: 1;
}

.NewsItem.NewsItem_Pic img {
    width: 100%;
    display: block;
    transition: .3s all ease-in-out;
    transform: scale(1.02);
}

.NewsItem.NewsItem_Pic h4 {
    color: #FFF;
    position: absolute;
    font-size: 1.65vw;
    line-height: 1.65vw;
    z-index: 20;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 2vw;
    box-sizing: border-box;
    width: 100%;

    @include breakpoint(sm) {
        position: relative;
    }     
}

.NewsItem.NewsItem_Pic h4::after {
    content: ' ';
    display: block;
    margin: 25px 0 0;
    background: url(https://huee.in/_pics/longarrowrightwhite.png) center center no-repeat;
    width: 45px;
    height: 5px;
}