//## Form
@import "../_variables";
@import "../_mixins";

.mailchimp-form {

}

.mailchimp-form {
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);

    @include breakpoint(sm) {
        @include flex-direction(column);
    };

    @include breakpoint(xs) {
        @include align-items(flex-start);
    };
}

.mailchimp-form {

    .input {
        width: 100%;
        margin: 0 5px;
        @include flex(1);

        @include breakpoint(sm) {
            margin: 0 0 15px;
            max-width: 400px;
        }
    }

    .button {
        width: 100%;
        margin: 0 5px;
        @include flex(1);

        @include breakpoint(sm) {
            margin: 0;
            width: auto;
        }
    }
}

.form-response-output {
    text-align: center;
}
