//## Buttons
@import "../_variables";
@import "../_mixins";

button {
    appearance: none;
    border: 0;
}

.button {
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    padding: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-icon {
    background-color: transparent;
    border-radius: $btn-border-radius;
    height: 44px;
    padding: 0;
    text-indent: -9999px;
    width: 44px;
}

.button-secondary {
    background-color: $secondary;
    color: $default;
}

.button-menu {
    background-image: url(../img/icons/menu.svg);
    background-size: 44px;
    background-position: center;
    background-repeat: no-repeat;
}
